<%= render 'layouts/navbar' %>
<!--  Hero start  -->
<div class="section section-fill-height section-opaque-dark text-xs-center" draggable="true">
    <div class="background-image" style="background-image: url('assets/images/food.png');" id="videobg"></div>
    <div class="container">
      <div class="row">
						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small text-xs-center">This App Will Make You More Lazy</span>
							<h1 class="cursive-font text-xs-center">All in good taste!</h1>
						</div>
		      </div>
      <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 animate-box text-xs-center" data-animate-effect="fadeInUp">
                <div class="input-group input-group-lg" id="front-page-search">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button">Find Food</button>
                  </span>
                    <span>

                      <%= form_tag(restaurants_path, method: "get", id: "search-form") do |f| %>
                      <%= search_field_tag :search, params[:search], placeholder: "Search Restaurants", class: "form-control" %>

                      <% end %>
                    </span>

                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button">Find Restaurant</button>
                  </span>
                </div>
              </div>
              <div class="col-md-2"></div>
      </div>
    </div>
  </div>
<!--  Hero end  -->
<!--  Order steps start  -->
  <div class="section">
      <div class="container">
          <div class="title">
              Get your favourite food in 4 simple steps. <button class="btn" data-toggle="collapse" data-target="#steps-how">See how</button>
          </div>
          <div class="collapse" id="steps-how">
              <ul>
              <li class="step one">
                  <div>
                      <div class="title">1. Search</div>
                      <div class="description">Find restaurants that deliver to you by entering your address</div>
                  </div>
              </li>
              <li class="step two">
                  <div>
                      <div class="title">2. Choose</div>
                      <div class="description">Browse hundreds of menus to find the food you like</div>
                  </div>
              </li>
              <li class="step three">
                  <div>
                      <div class="title">3. Pay</div>
                      <div class="description">Pay fast &amp; secure online or on delivery</div>
                  </div>
              </li>
              <li class="step four">
                  <div>
                      <div class="title">4. Enjoy</div>
                      <div class="description">Food is prepared &amp; delivered to your door</div>
                  </div>
              </li>
          </ul>
          </div>
      </div>
  </div>
<!--  Order steps end  -->
