<h1>Order list</h1>

<%@orders.each do |order|%>
  <h3>Order ID: <%=order.id%></h3>
  <h4>Order Status: <%=order.status%></h4>
  <% order.ordered_meals.each do |ordered_meal| %>
    <div> Meal Name: <%= ordered_meal.meal.name %> </div>
    <div> Quantity: <%= ordered_meal.quantity %> </div>
  <% end %>


<% end%>
