.logo {
}

@font-face {
  font-family:"Aller Display";
  src:font-url("AllerDisplay.eot?") format("eot"),
  font-url("AllerDisplay.woff") format("woff"),
  font-url("AllerDisplay.ttf") format("truetype"),
  font-url("AllerDisplay.svg#AllerDisplay") format("svg");
  font-weight:normal;
  font-style:normal;
}

.vertical-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;

  width: 100%;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}

.nav-item {
  cursor: pointer;
}

input[type="search"] {
  height: 52px;
}

.modal-header {
  background-color: rgb(92, 184, 92);
}

.modal-title {
  color: #ffffff;
}

.login-modal-header .close {
	color: #fff;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 340px;
}

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}
