<p><p>
<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>&copy; 2016 Orderlah. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by FSWD MaGIC Academy </a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</div>
